.btn {
    width: 100px;
    height: 40px;
    color: black;
    background-color: #ccc;
    margin-right: 20px;
}

.title {
    width: 86vw;
    height: 12px;
    margin-left: 3.4vw;
}

.close {
    width: 29px;
    height: 29px;
}

.header {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}

.app {
    background-image: url(../resource/background.png);
    width: 100vw;
    height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
}

.card-body {
    background-image: url(../resource/rectangle.png);
    width: 69px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
}

.cards {
    width: 100%;
    margin-top: calc((100vh - 64vw - 480px) / 2 + 64vw);
    display: flex;
    justify-content: center;
}

.cards-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.card-title {
    width: 57px;
}

.card-top {
    width: 57px;
    background-image: url(../resource/orangerectangle.png);
    height: 29px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    color: white;
    display: flex;
    font-size: 12px;
}

.check-circle {
    background-image: url(../resource/checkinframe.png);
    width: 120px;
    height: 120px;
    background-size: cover;
    margin: 20px auto;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(78, 182, 190);
    font-size: 20px;
    flex-direction: column;
    position: absolute;
    bottom: 40px;
    left: calc(50% - 60px);
}

.day-check {
    background-image: url(../resource/circle.png);
    width: 34px;
    height: 34px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 11px;
    margin-top: 8px;
}

.gift {
    width: 32px;
}

.tick {
    width: 32px;
}

.coupon {
    width: 35px;
}

.point {
    width: 18px;
    height: 18px;
    margin-left: 5px;
}

.card-point {
    width: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-text {
    margin: 0;
}

.check-in {
    width: 50px;
}

.wheel {
    width: 54px;
    height: 54px;
    position: fixed;
    top: calc(100% - 58px);
}

.totalPoint {
    width: 111px;
    height: 32px;
    position: fixed;
    top: calc(100% - 58px);
    right: 0;
}

.totalPointNumber {
    color: white;
    width: 72px;
    height: 32px;
    position: fixed;
    top: calc(100% - 65px);
    right: 0;
}

.check-in-gray {
    width: 120px;
    height: 120px;
    margin: 20px auto;
    color: rgb(78, 182, 190);
    font-size: 20px;
    flex-direction: column;
    position: absolute;
    bottom: 40px;
    left: calc(50% - 60px);
}

.loading {
    width: 70px;
    height: 70px;
    position: absolute;
    margin-left: calc(50vw - 35px);
    margin-top: 39vw;
    z-index: 100;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    -webkit-animation: rotate 2s linear infinite;
    -moz-animation: rotate 2s linear infinite;
    -o-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
}

.mengban {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 10;
}
