.btn {
    width: 100px;
    height: 40px;
    color: black;
    background-color: #ccc;
    margin-right: 20px;
}

.app {
    background-image: url(../resource/checkin_bg.png);
    width: 100vw;
    height: 100vh;
    background-size: 100% auto;
    background-position: center top;
    background-repeat: no-repeat;
    padding-top: 44.6vw;
}
.points {
    width: 32vw;
    height: 8vw;
    background: black;
    border-radius: 8vw;
    display: flex;
    background: rgba(0, 0, 0, 0.2);
    align-items: center;
    margin-left: 3.2vw;
    color: white;
    justify-content: space-between;
}
.left-point {
    display: flex;
    align-items: center;
    font-family: 'PingFangSC-Regular';
    font-size: 4vw;
}

.point {
    width: 5.3vw;
    height: 5.3vw;
    margin-left: 2.6vw;
    margin-right: 2.6vw;
}

.right-point {
    margin-right: 2.6vw;
    height: 4vw;
}

.body-radius {
    background-color: white;
    margin-top: 4vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
}

.body-title {
    color: #fd6b4b;
    font-family: 'DINCondensed-Bold';
    font-size: 4.5vw;
    margin: auto;
    margin-top: 8vw;
    margin-bottom: 7.7vw;
}

.body-title-min {
    color: #fd6b4b;
    font-family: 'DINCondensed-Bold';
    font-size: 4.5vw;
    margin: auto;
    margin-top: 3.2vw;
    margin-bottom: 3.2vw;
}

.card-body {
    width: 16vw;
    height: 24vw;
    display: flex;
    border: 1px solid #fedeca;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
}
.card-body-red {
    width: 16vw;
    height: 24vw;
    display: flex;
    border: 1px solid #fedeca;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    background: rgb(253, 107, 75);
}

.card-point {
    width: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vw;
    margin-top: 2.7vw;
}

.cards {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cards-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5.4vw;
}

.cards-bottom-min {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3.2vw;
}

.card-top {
    font-family: 'PingFangSC-Medium';
    width: 100%;
    height: 6.7vw;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    align-items: center;
    justify-content: center;
    color: white;
    display: flex;
    font-size: 3.2vw;
    background-image: linear-gradient(rgb(254, 125, 72), rgb(253, 105, 75));
}

.card-point-text {
    margin-top: 0.8vw;
    color: #888888;
    font-family: 'PingFangSC-Semibold';
    font-size: 3.2vw;
}

.card-point-text-last {
    color: #fd6b4b;
    margin-top: 0.8vw;
    font-family: 'PingFangSC-Semibold';
    font-size: 3.2vw;
}

.card-point-text-white {
    color: white;
    margin-top: 0.8vw;
    font-family: 'PingFangSC-Semibold';
    font-size: 3.2vw;
}

.empty-line {
    width: 8vw;
    height: 10px;
}
.empty-line-bottom {
    width: 3.5vw;
    height: 10px;
}

.wheel {
    width: 10.7vw;
    height: 10.7vw;
    position: fixed;
    right: 0;
    bottom: 7.6vw;
}

.check-in-gray {
    width: 56vw;
    height: 13.4vw;
    color: white;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.8vw;
    font-family: 'PingFangSC-Medium';
    margin: auto;
    margin-top: 10.7vw;
    background: #dddddd;
    position: absolute;
    bottom: 11vw;
    left: 22vw;
}

.check-in-gray-min {
    width: 56vw;
    height: 13.4vw;
    color: white;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.8vw;
    font-family: 'PingFangSC-Medium';
    margin: auto;
    margin-top: 10.7vw;
    background: #dddddd;
    position: absolute;
    bottom: 2.7vw;
    left: 22vw;
}

.check-in-active {
    width: 56vw;
    height: 13.4vw;
    color: white;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.8vw;
    font-family: 'PingFangSC-Medium';
    margin: auto;
    margin-top: 10.7vw;
    background-image: linear-gradient(180deg, #ff9b3a, #f15226);
    position: absolute;
    bottom: 11vw;
    left: 22vw;
}

.check-in-active-min {
    width: 56vw;
    height: 13.4vw;
    color: white;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.8vw;
    font-family: 'PingFangSC-Medium';
    margin: auto;
    margin-top: 10.7vw;
    background-image: linear-gradient(180deg, #ff9b3a, #f15226);
    position: absolute;
    bottom: 2.6vw;
    left: 22vw;
}

.resultBox {
    background: white;
    position: absolute;
    width: 51.6vw;
    height: 68.3vw;
    border-radius: 20px;
    margin: auto;
    top: 60.3vw;
    left: 18.2vw;
    padding: 0 6vw;
    z-index: 10;
}

.pointWin {
    width: 52.8vw;
    position: absolute;
    top: -22.3vw;
    left: 5vw;
}

.result-box-title {
    font-size: 4.8vw;
    font-family: 'PingFangSC-Medium';
    color: #fd6b4b;
    text-align: center;
    margin-top: 19vw;
}

.result-box-text-body {
    width: 100%;
    text-align: inherit;
    font-size: 4.26vw;
    font-family: 'PingFangSC-Regular';
    margin-top: 6vw;
}

.ok-check-in-active {
    position: absolute;
    bottom: 6vw;
    width: 52vw;
    height: 11.4vw;
    color: white;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.8vw;
    font-family: 'PingFangSC-Medium';
    margin: auto;
    background-image: linear-gradient(0deg, rgb(241, 82, 38), rgb(255, 155, 58));
}

.loading {
    width: 70px;
    position: absolute;
    margin-left: calc(50vw - 35px);
    margin-top: 79vw;
    z-index: 100;
    color: rgb(255, 111, 24);
}

.mengban {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 10;
    opacity: 0.5;
    background: black;
}

.toastBg {
    width: 100vw;
    position: absolute;
    top: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toastText {
    width: 180px;
    height: 80px;
    background: black;
    border-radius: 8px;
    opacity: 0.8;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
